/* Colors
Light: #F4F4F4
Light Gray: #E8E8E8
Gray: #BBBFCA
Dark Gray: #495464
*/


body {
    text-align: center;
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0 auto;
}

a {
    color: purple;
}

.TODO {
    color: red;
}

/* Header */

.header {
    color: #BBBFCA;
    padding: 10px;
}

.header-link:link {
    color: #BBBFCA;
}

.header-link:visited {
    color: #BBBFCA;
}
.nav-icon {
    padding: 10px 0px 10px 5px;
    vertical-align: middle;
}
.navigation {
    padding-right: 3em;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #F4F4F4;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/* Sections */

.dark-section {
    background-color: #BBBFCA;
    padding: 2em;
}
.light-section {
    background-color: #E8E8E8;
    padding: 2em;
}
.white-section {
    background-color: white;
    padding: 2em;
}
/* Home Page */

.portfolio-icon {
    color: #495464;
}
.profilepic {
    max-width: 100%;
}

@media only screen and (max-width: 765px) {
    .profilepic {
        max-width: 50%;
    }
    .resumepic {
        max-width: 50%;
    }
}

.port-logo {
    max-width: 100%;
    padding-bottom: 1em;
}

.about-me {
    text-align: left;
}

.dropdown-arrow {
    padding: 11px;
}

.dropdown-services:hover {
    background-color: #BBBFCA;
}

.services-list {
    display: none;
}

.services-list-item {
    padding-left: 2em;
}

/* About Page */

#email:hover {
    color: blue;
}

/* Resume Page */

.resume {
    text-align: left;
    padding-left: 3em;
}

.resumepic {
    max-width: 200px;
    padding-right: 5em
}

.resumedesc {
    list-style-type: none;
}

/* Portfolio Page */
.port-img {
    float: left;
    max-width: 100%;
}
.brand-logo {
    max-width: 10%;
    padding-right: 2%;
}
.tootall {
    max-height: 50px;
}

.brand-list {
    list-style-type: none;
}
.port-text {
    text-align: left;
}
.brand-desc {
    display: none;
}
.card {
    margin: 5px;
}
.card:hover {
    background-color: white;
}
.card-dark {
    background-color: #BBBFCA;
}
.card-light {
    background-color: #E8E8E8;
}
/* Services Page */
.serv-left-text {
    text-align: left;
}
.serv-right-text {
    text-align: right;
}
.serv-list {
    list-style-type: none;
}

/* Pricing Page */
.pricing-text {
    text-align: left;
}

/* Contact Page */
.form-check {
    text-align: left;
}