{% include 'header.html' %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-KJRZ8KM
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="dark-section">
    <h1>Contact</h1>
    <p>Please fill out this form to reach out to me and I will get back to you to address your needs.</p>
    <form class="contact-form" action="{{ url_for('send_email') }}" method="post">
        <div class="row">
            <div class="col-md-4">
                <label for="name" class="form-label">Name</label>
                <input id="name" type="text" name="name" class="form-control" value="{{name}}" data-sb-validations="required">
                <div class="invalid-feedback" data-sb-feedback="name:required">Please fill out your name.</div>
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" name="email" class="form-control" value="{{email}}">
            </div>
            <div class="col-md-4">
                <label for="phone" class="form-label">Phone Number</label>
                <input id="phone" type="text" name="phone" class="form-control" value="{{phone}}">
            </div>
        </div>
        <div class="row p-3">
            <div class="col-2">
            </div>
            <div class="col-8">
                <p><b>What should I put in the message?</b></p>
                <div class="row">
                    <div class="col-md-6">
                        <p>Name of your company</p>
                        <p>Problem your company is solving for</p>
                    </div>
                    <div class="col-md-6">
                        <p>Timelines and deadlines</p>
                        <p>Anything else you want me to know</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="message" class="form-label"><b>Message</b></label>
                        <textarea id="message" class="form-control" placeholder="Enter your message here..." rows=6 name="message">{{message}}</textarea>
                    </div>
                    <div class="col-md-4">
                        <p><b>Pricing Options</b></p>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="Total Management Package" name="pricing_package" id="TotalManagementPackage">
                          <label class="form-check-label" for="TotalManagementPackage">
                            Total Management Package
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="Hours Only Package" name="pricing_package" id="HoursOnlyPackage">
                          <label class="form-check-label" for="HoursOnlyPackage">
                            Hours Only Package
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="Individual Services" name="pricing_package" id="IndividualServices">
                          <label class="form-check-label" for="IndividualServices">
                            Individual Services
                          </label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-2">
            </div>
        <button class="btn btn-dark btn-lg" type="submit">Submit</button>
    </form>
</section>
{% include 'footer.html' %}