{% include 'header.html' %}
<section class="dark-section" id="about">
    <h1>Who Am I?</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img class="profilepic" src="static/images/ChristKallas.jpg">
            </div>
            <div class="col-md-8 about-me">
                <p>
                    Hello! My name is Christ Anton Kallas II and I grew up in an entrepreneurial household that taught me the importance of bringing meaningful value to everything that I do.</p>
                <br>
                <p><b>Early Life</b> - My mom ran the marketing strategy for my dad’s successful chocolate manufacturer & storefront. Since I was little, I have been acutely aware of the dramatic impact of seemingly simple business decisions.</p>
                <br>
                <p><b>Education</b> - I loved the University of Illinois so much that I graduated twice, once in 2010 with an undergraduate degree in political science and the other was an MBA 12 years later.</p>
                <br>
                <p><b>Professional Life</b> - I have over 10 years of marketing experience spearheading innovation, managing 360 media campaigns, setting brand strategy, copywriting, creating full-lifecycle product plans, leading agency IATs & research management, managing P&Ls, and so much more. I’ve worked with zero-year-old startups and multicentury old manufacturers; I’ve managed budgets of as little as $5,000 up to $50M.</p>
                <br>
                <p>No matter the size of your business, I have the solutions for you.</p>
            </div>
        </div>
    </div>
</section>
<section class="light-section about-me" id="services">
    <h1>Services</h1>
    <ul class="serv-list">
        <li class="dropdown-services" onclick="dropDownFunction('Marketing')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Marketing Strategy</li>
        <ul class="services-list" id="Marketing">
            <li class="services-list-item">Every business needs a marketing strategy that is tailored to its specific goals and needs. As your marketing consultant, I'll work with you to create a marketing plan that aligns with your business objectives and targets the right audience. From identifying your unique selling proposition to defining your marketing mix, I'll help you achieve your marketing goals.</li>
            <li class="services-list-item">My approach to marketing strategy involves a thorough understanding of your business, your target audience, and your competition. By analyzing data and conducting market research, I can help you identify key opportunities for growth and develop a comprehensive marketing plan that aligns with your goals.</li>
            <li class="services-list-item">Whether you're looking to increase brand awareness, generate leads, or drive conversions, I can help you develop a tailored marketing strategy that achieves your objectives. From developing messaging and positioning to selecting the most effective marketing channels, I can help you navigate the complexities of modern marketing to achieve success.</li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('Brand')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Brand Strategy</li>
        <ul class="services-list" id="Brand">
            <li class="services-list-item">Your brand is what sets you apart from your competitors. I'll work with you to create a brand strategy that captures your unique personality and values and resonates with your audience. From creating a brand story to developing a visual identity, I'll help you build a brand that people will love and remember.</li>
            <li class="services-list-item">Whether you're launching a new brand, refreshing one, or repositioning, I can help you develop a comprehensive brand strategy that includes everything from brand messaging and tone of voice to visual identity and brand architecture. By working closely with you and your team, I can help you develop a cohesive and compelling brand identity that sets you apart from the competition and builds brand equity.</li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('Market')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Market Research</li>
        <ul class="services-list" id="Market">
            <li class="services-list-item">In order to make informed marketing decisions, you need data and insights. As your marketing consultant, I'll conduct research to gather the information you need to succeed. From competitive analysis to customer surveys, I'll provide you with the insights you need to understand your market and create a winning strategy.</li>
            <li class="services-list-item">My approach to market research involves a deep understanding of your business, your industry, and your target audience. By conducting primary and secondary research, including surveys, focus groups, and data analysis, I can help you identify key insights that inform your marketing strategy.</li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('Professional')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Professional Product Shots</li>
        <ul class="services-list" id="Professional">
            <li class="services-list-item">The right product photography can help you showcase your products in the best possible light. As your marketing consultant, I'll help you create product shots that are both visually appealing and informative. From capturing your products in action to creating lifestyle photos, I'll help you create visual assets that tell your brand's story.</li>
            <li class="services-list-item">Product photography is a critical component of any successful e-commerce or retail business. As a marketing consultant, I specialize in providing high-quality product photography services that help businesses like yours showcase their products in the best possible light.</li>
            <li class="services-list-item">My product photography services include basic photography of your products, which includes front, back, sides, top and bottom of both inner and outer packs. By using professional-grade equipment and techniques, I can ensure that your products look their best and are ready to be displayed on your website, social media, or other marketing channels.</li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('Copywriting')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Copywriting</li>
        <ul class="services-list" id="Copywriting">
            <li class="services-list-item">Copywriting is an essential element of marketing, and as a marketing consultant, I specialize in creating persuasive and engaging written content to help drive sales and increase brand awareness. Whether you need website content, product descriptions, advertising copy, or email campaigns, I have the skills and expertise to craft effective messaging strategies that resonate with your target audience.</li>
            <li class="services-list-item">My approach to copywriting involves a thorough understanding of your business, your goals, and your audience. By identifying key messaging points and using language and tone that resonates with your intended audience, I can help you communicate the value of your product or service in a way that drives conversions and achieves your marketing objectives.</li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('Social')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Social Media Management</li>
        <ul class="services-list" id="Social">
            <li class="services-list-item">Social media is an important channel for reaching and engaging with your audience. As your social media consultant, I'll help you develop a social media strategy that drives engagement and conversions. From creating content to managing your social media accounts, I'll help you build a social media presence that builds your brand and drives business results.</li>
            <li class="services-list-item">Whether you need help with strategy development, content creation, or community management, I have the skills and expertise to help you get the most out of your social media channels. I understand that every business is unique, which is why I take a customized approach to social media management, tailored to your specific needs and goals. </li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('Website')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>Website Design & Development</li>
        <ul class="services-list" id="Website">
            <li class="services-list-item">Website design and development is a critical component of any successful business. As a marketing consultant, I specialize in providing comprehensive website design and development services that help businesses like yours create a compelling online presence that drives traffic, engagement, and sales.</li>
            <li class="services-list-item">My website design and development services include everything from design and layout to development and maintenance. By using the latest technologies and best practices, I can create a website that is not only visually appealing but also user-friendly, responsive, and optimized for search engines.List of brands in portfolio</li>
        </ul>
        <li class="dropdown-services" onclick="dropDownFunction('General')"><i class="fa-solid fa-chevron-down dropdown-arrow"></i>General Consulting Services</li>
        <ul class="services-list TODO">
        </ul>
    </ul>
</section>
<section class="white-section" id="portfolio">
    <div class="row">
        <h2>Portfolio</h2>
        <div class="col-sm-3">
            <h4><a href="{{ url_for('portfolio') }}#grow">Grow</a></h4>
            <img class="port-logo" src="static/images/Grow.png">
        </div>
        <div class="col-sm-3">
            <h4><a href="{{ url_for('portfolio') }}#innovate">Innovate</a></h4>
            <img class="port-logo" src="static/images/Innovate.png">
        </div>
        <div class="col-sm-3">
            <h4><a href="{{ url_for('portfolio') }}#maintain">Maintain</a></h4>
            <img class="port-logo" src="static/images/Maintain.png">
        </div>
        <div class="col-sm-3">
            <h4><a href="{{ url_for('portfolio') }}#sunset">Sunset</a></h4>
            <img class="port-logo" src="static/images/Sunset.png">
        </div>
</section>
<section class="light-section" id="contact">
    <h2>Contact</h2>
    <p>Please fill out this form to reach out to me and I will get back to you to address your needs.</p>
    <form class="contact-form" action="{{ url_for('send_email') }}" method="post">
        <div class="row">
            <div class="col-lg-4">
                <label for="name" class="form-label">Name</label>
                <input id="name" type="text" name="name" class="form-control" value="{{name}}" data-sb-validations="required">
                <div class="invalid-feedback" data-sb-feedback="name:required">Please fill out your name.</div>
            </div>
            <div class="col-lg-4">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" name="email" class="form-control" value="{{email}}">
            </div>
            <div class="col-lg-4">
                <label for="phone" class="form-label">Phone Number</label>
                <input id="phone" type="text" name="phone" class="form-control" value="{{phone}}">
            </div>
        </div>
                <div class="row p-5">
                    <div class="col-md-8">
                        <label for="message" class="form-label"><b>Message</b></label>
                        <textarea id="message" class="form-control" placeholder="Enter your message here..." rows=4 name="message">{{message}}</textarea>
                    </div>
                    <div class="col-md-4">
                        <p><b>Pricing Options</b></p>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="TotalManagementPackage">
                          <label class="form-check-label" for="TotalManagementPackage">
                            Total Management Package
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="HoursOnlyPackage">
                          <label class="form-check-label" for="HoursOnlyPackage">
                            Hours Only Package
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="IndividualServices">
                          <label class="form-check-label" for="IndividualServices">
                            Individual Services
                          </label>
                        </div>
                        <div class="pt-4">
                            <p>Visit my <a href="{{ url_for('pricing') }}">Pricing page</a> for more details.</p>
                        </div>
                    </div>
                </div>
        <button class="btn btn-dark btn-lg" type="submit">Submit</button>
    </form>
</section>
{% include 'footer.html' %}