{% include 'header.html' %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-KJRZ8KM
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="dark-section">
    <h1>Portfolio</h1>
</section>
<section class="dark-section" id="grow">
    <div class="row">
        <div class="col-md-5">
            <img class="port-img" src="static/images/Grow.png">
        </div>
        <div class="col-md-7 port-text">
            <h3 class="pb-3">Grow</h3>
            <ul class="brand-list">
                <div class="card card-dark" onclick="dropDownFunction('Cayman_Jack1')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/CaymanJackLogo.png">Cayman Jack - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="Cayman_Jack1">A premium cocktail brand offering ready-to-drink, handcrafted cocktails for a sophisticated flavor experience</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('MXDCocktail')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/MXDCocktail.png">MXD - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="MXDCocktail">A premium cocktail brand offering ready-to-drink, handcrafted cocktails for a sophisticated flavor experience</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('White_Claw')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/WhiteClaw.png">White Claw - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="White_Claw">The leading hard seltzer brand known for its light, refreshing taste and variety of fruit flavors.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('Holland_House')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/HollandHouse.png">Holland House - Mizkan</li>
                        <p class="pt-3 brand-desc" id="Holland_House">A trusted cooking wine used by both home cooks and professional chefs to enhance a variety of dishes.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('Morton_Salt')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/MortonSalt.png">Morton Salt</li>
                        <p class="pt-3 brand-desc" id="Morton_Salt">The universal brand that provides essential salt products for various culinary uses.</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
<section class="light-section" id="innovate">
    <div class="row">
        <div class="col-md-5">
            <img class="port-img" src="static/images/Innovate.png">
        </div>
        <div class="col-md-7 port-text">
            <h4 class="pb-3">Innovate</h4>
            <ul class="brand-list">
                <div class="card card-light" onclick="dropDownFunction('Cayman_Jack')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/CaymanJackLogo.png">Cayman Jack - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="Cayman_Jack">A premium cocktail brand offering ready-to-drink, handcrafted cocktails for a sophisticated flavor experience</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Four_Monks')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/FourMonks.png">Four Monks - Mizkan</li>
                        <p class="pt-3 brand-desc" id="Four_Monks">A cleaning vinegar brand known for its effective, non-toxic cleaning properties.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Dirtea_South')">
                    <div class="card-body">
                        <li><img class="brand-logo tootall" src="static/images/DirTea.png">Dirtea South - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="Dirtea_South">An experimental brand offering a unique twist on traditional southern sweet tea.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Hard_East_Tea')">
                    <div class="card-body">
                        <li><img class="brand-logo tootall" src="static/images/HardEastTea.png">Hard East Tea - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="Hard_East_Tea">A brand innovating classic iced tea by adding a hint of alcohol for an exciting twist.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Fruit_Stripe')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/FruitStripe.png">Fruit Stripe - Ferrara</li>
                        <p class="pt-3 brand-desc" id="Fruit_Stripe">A fun, fruity chewing gum brand known for its zebra mascot and temporary tattoos.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Fun_Dip')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/FunDip.png">Fun Dip - Ferrara</li>
                        <p class="pt-3 brand-desc" id="Fun_Dip">A nostalgic candy brand offering an interactive powdered candy experience.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Lemonhead')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/LemonHead.png">Lemonhead - Ferrara</li>
                        <p class="pt-3 brand-desc" id="Lemonhead">A classic candy brand providing a sweet and tangy lemon-flavored experience.</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
<section class="dark-section" id="maintain">
    <div class="row">
        <div class="col-md-5">
            <img class="port-img" src="static/images/Maintain.png">
        </div>
        <div class="col-md-7 port-text">
            <h4 class="pb-3">Maintain</h4>
            <ul class="brand-list">
                <div class="card card-dark" onclick="dropDownFunction('Gobstoppers')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/Gobstoppers.png">Gobstoppers - Ferrara</li>
                        <p class="pt-3 brand-desc" id="Gobstoppers">A long-lasting jawbreaker candy brand, changing colors and flavors as you eat it.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('Nakano')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/Nakano.png">Nakano - Mizkan</li>
                        <p class="pt-3 brand-desc" id="Nakano">A brand of rice vinegars and seasoned vinegars used in a range of culinary applications.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('SuperBubble')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/SuperBubble.png">Super Bubble - Ferrara</li>
                        <p class="pt-3 brand-desc" id="SuperBubble">A classic bubble gum brand known for its long-lasting, original bubble gum flavor.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('BottleCaps')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/BottleCaps.png">Bottlecaps - Ferrara</li>
                        <p class="pt-3 brand-desc" id="BottleCaps">A candy brand shaped like bottle caps, known for its soda pop flavor variety.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('BobsMints')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/BobsMints.png">Bob's Mints - Ferrara</li>
                        <p class="pt-3 brand-desc" id="BobsMints">A refreshing mint candy brand offering a variety of traditional and fun flavors.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('Chuckles')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/Chuckles.png">Chuckles</li>
                        <p class="pt-3 brand-desc" id="Chuckles">Chuckles is a well-established candy brand known for its assortment of fruity and chewy candies. The candies are characterized by their vibrant colors and chewy texture, providing a delightful sensory experience</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('JujyFruits')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/JujyFruits.png">Jujyfruit - Ferrara</li>
                        <p class="pt-3 brand-desc" id="JujyFruits">A chewy candy brand providing a mix of unique fruit flavors.</p>
                    </div>
                </div>
                <div class="card card-dark" onclick="dropDownFunction('RainBlo')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/RainBlo.png">Rainblo - Ferrara</li>
                        <p class="pt-3 brand-desc" id="RainBlo">A gumball brand offering a variety of flavors, known for its vibrant colors.</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
<section class="light-section" id="sunset">
    <div class="row">
        <div class="col-md-5">
            <img class="port-img" src="static/images/Sunset.png">
        </div>
        <div class="col-md-7 port-text">
            <h4 class="pb-3">Sunset</h4>
            <ul class="brand-list">
                <div class="card card-light" onclick="dropDownFunction('Nips')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/Nips.png">Nips - Ferrara</li>
                        <p class="pt-3 brand-desc" id="Nips">A brand of hard candies known for its rich, creamy fillings.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Palm_Breeze')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/PalmBreeze.png">Palm Breeze - The Mike's Hard Lemonade Company</li>
                        <p class="pt-3 brand-desc" id="Palm_Breeze">A tropical-inspired alcoholic spritz brand, crafted to evoke the sensation of beach relaxation.</p>
                    </div>
                </div>
                <div class="card card-light" onclick="dropDownFunction('Atomic_Fireball')">
                    <div class="card-body">
                        <li><img class="brand-logo" src="static/images/AtomicFireball.png">Atomic Fireball - Ferrara</li>
                        <p class="pt-3 brand-desc" id="Atomic_Fireball">A spicy cinnamon-flavored hard candy known for its strong, fiery taste.</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>
{% include 'footer.html' %}