{% include 'header.html' %}
<section class="dark-section">
    <h1>Pricing</h1>
</section>
<section class="dark-section pricing-text" id="pricing">
    <h2><b>Differentiators</b> - What makes me an expert</h2>
    <ul>
        <li><b>MBA Experience</b> - I belong to the top 15% of consultants with an advanced business education. My education equips me with the ability to develop comprehensive marketing strategies while considering strategy implications to the whole business.</li>
        <li><b>Consumer Packaged Goods Experience</b>- I offer a wide range of industry experience for many different types of manufacturers:</li>
        <ul>
            <li>Confections</li>
            <li>Beverage/Alcohol</li>
            <li>Food, Seasoning, & Condiments</li>
            <li>Commodity/Private Label</li>
        </ul>
    </ul>
</section>
<section class="light-section pricing-text">
    <h3>Pricing</h3>
    <p>Thank you for your consideration! I offer a range of pricing options to accommodate any project or budget. Here are the standard pricing tiers I offer:</p>
    <br>
    <ol>
        <li>
            <h5><b>Total Management Package</b> - $10,000/Month</h5>
            <p>This package is ideal for clients seeking comprehensive marketing expertise, strategic guidance, and project leadership</p>
            <ul>
                <li>Perfect for large projects that need leadership to manage across multiple business units</li>
                <ul>
                    <li>Innovation research and commercialization</li>
                    <li>New product launches</li>
                    <li>Marketing planning</li>
                    <li>SKU rationalization</li>
                </ul>
                <li>Provides total management of your marketing initiatives, where I take a hands-on approach to lead, strategize, execute, and/or optimize campaigns and collateral</li>
            </ul>
        </li>
        <br>
        <li>
            <h5><b>Hours Only Package</b> - $125/hour</h5>
            <p>This option is built for clients that need a marketing mercenary</p>
            <ul>
                <li>The Hours Only Package offers flexibility and allows you to engage my services on an as-needed basis</li>
                <li>This package is designed for clients who require tactical support or specific project assistance</li>
                <li>Services included in this package can range from copywriting, campaign management, market research, social media management, email marketing, website reviews, and more</li>
                <li>The hourly package allows you to leverage my expertise to address your immediate marketing needs quickly & effectively</li>
            </ul>
        </li>
        <br>
        <li>
            <h5><b>Individual Services</b> - Pricing Varies</h5>
            <ul>
                <li>Product Shots</li>
                <li>Website Design</li>
                <li>Website Development</li>
            </ul>
        </li>
        </ol>
    <p>Prices vary depending on the scope and complexity of client projects. Contact me today to discuss your specific needs and receive a tailored quote for my services to fit your needs.</p>
    <a href="{{ url_for('contact') }}">Contact me for your business solutions</a>
</section>
{% include 'footer.html' %}