{% include 'header.html' %}
<section class="dark-section">
    <h1>Resume</h1>
    <div class="row">
        <div class="col-md-2">
            <img class="resumepic" src="static/images/MortonSalt.png">
        </div>
        <div class="col-md-10 resume">
            <h3>Senior Associate Brand Manager</h3>
            <h4>Morton Salt</h4>
            <h5>April 2022 - Present</h5>
            <ul class="resumedesc">
                <li>Business Strategy & Execution</li>
                <ul>
                    <li>Establish and gain alignment from the Consumer and Industrial Leadership Team on strategies and plans to improve profitability and achieve desired business and market objectives for this nearly $200MM+ Net Sales business</li>
                    <li>Utilize syndicated data, and competitive intelligence, to assess market opportunities</li>
                    <li>Use quantitative and qualitative research to vet new product ideas, packaging, pricing, and positioning strategies</li>
                </ul>
                <li>Business Development</li>
                <ul>
                    <li>Identify market opportunities and risks, quantify/estimate P&L impact, and justify investments required to support future business growth</li>
                    <li>Closely monitor and identify changes in market, customer and competitor trends with the potential for impacting current and future business performance</li>
                </ul>
                <li>Innovation and Product Portfolio Management</li>
                <ul>
                    <li>Oversee all stages of sustaining innovation projects – from idea generation through commercialization</li>
                    <li>Use customer and consumer/end-user insights to drive business and brand activity, new products, strategies, and thought leadership</li>
                    <li>Contribute to the brand vision, positioning, promise, goals and strategy</li>
                    <li>Lead the development of advertising and communication vehicles with agency partners that justify selling price premium</li>
                </ul>
                <li>Pricing Strategy Development, Planning, & Performance</li>
                <ul>
                    <li>Provide strategic direction and collaborate with the pricing team to develop and optimize pricing architectures, strategies and plans by product lines</li>
                    <li>Partner with Brand Finance and the Sales Strategy & Planning teams to forecast and track the impact of pricing actions with regards to overall business and financial performance</li>
                </ul>
            </ul>
        </div>
    </div>
</section>
<section class="light-section">
    <div class="row">
        <div class="col-md-2">
            <img class="resumepic" src="static/images/Ferrara.png">
        </div>
        <div class="col-md-10 resume">
            <h3>Associate Brand Manager - Iconic Brands</h3>
            <h4>Ferrara Candy Company</h4>
            <h5>November 2019 - April 2022</h5>
            <ul class="resumedesc">
            <li class="TODO">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in. Odio facilisis mauris sit amet massa vitae. Consectetur adipiscing elit ut aliquam purus sit amet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue mauris augue neque gravida in fermentum et sollicitudin ac. </li>
            <br>
                <ul>
                    <li>Responsible for the management and innovation of the ‘Iconics’ Brand Portfolio with 19 total brands representing $180MM in consumer sales annually with a focus on gaining awareness & growing sales for the top ‘breakout’ brands, Lemonheads & Spree ($35MM), to develop them into strategic brands</li>
                    <li>Commercialized multi-brand portfolio innovation Iconic Candy Mason Jars which led to $1.2MM in incremental sales in year one, an annual spring display program in grocery & drug channels, and a nomination for a 2021 NACD Award for innovative new packaging </li>
                    <li>Annual focus on channel strategies in concert with the sales operations to develop channel and customer specific innovation opportunities such as the $1.2MM distribution opportunity of Spree Chewy into key small format retail channel customer, 7-Eleven</li>
                    <li>Utilize annual white space analysis to identify and vet innovation & expansion opportunities outside of traditional brand forms, such as developing a Fruit Stripe brand gummy candy with $1MM in est. annual sales</li>
                </ul>
            </ul>
        </div>
    </div>
</section>
<section class="dark-section">
    <div class="row">
        <div class="col-md-2">
            <img class="resumepic" src="static/images/MikesHardLemonade.png">
        </div>
        <div class="col-md-10 resume">
            <h3>Associate Brand Manager</h3>
            <h4>Mike's Hard Lemonade</h4>
            <h5>October 2018 - November 2019</h5>
            <ul class="resumedesc">
                <li>Entrepreneurial ownership of both new to world innovation brands and existing brands. This includes launching Jugo Fuerte, a new to world line extension targeting Hispanic consumers, or rehabbing a mature regional brand like Cayman Jack. The strategies of both are different, but the goals are the same: to use data driven decisions to curate a brand that resonates with its target consumer nationwide while driving portfolio growth. </li>
                <br>
                <ul>
                    <li>Develop and executed annual business plans for Cayman Jack, a brand with $28M in sales and 30% growth in fiscal 2018 making it the second fastest growing brand in the mike’s portfolio </li>
                    <li>Manage packaging and innovation development including timelines, budgets, and overseeing a cross-functional team</li>
                    <li>Coordinated & cooperated closely with compliance, sales, and leadership to ensure timely launch of new products and line extensions </li>
                    <li>Liaise with agencies to create PR events, campaigns, promotions, social/digital media, and POS materials</li>
                    <li>Travel in market to increase understanding of the brand and the needs of the sales team</li>
                    <li>Assemble and coordinate monthly business reviews including analysis of business performance from consumer sales data and recommend course-corrections and direction</li>
                    <li>Manage all marketing communications, both internal and external, through the creation of a cross-functional editorial board</li>
                    <li>Track and analyze industry innovation to determine business impact and synthesize findings in a monthly marketing publication to keep the organization aware of potential new market challengers </li>
                </ul>
            </ul>
        </div>
    </div>
</section>
<section class="light-section">
    <div class="row">
        <div class="col-md-2">
            <img class="resumepic" src="static/images/Mizkan.png">
        </div>
        <div class="col-md-10 resume">
            <h3>Associate Brand Manager Mentee</h3>
            <h4>Mizkan America</h4>
            <h5>September 2016 - August 2018</h5>
            <ul class="resumedesc">
            <li class="TODO">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in. Odio facilisis mauris sit amet massa vitae. Consectetur adipiscing elit ut aliquam purus sit amet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue mauris augue neque gravida in fermentum et sollicitudin ac. </li>
            <br>
            <ul>
                <li>Led Four Monks brand reformulation & commercialization by working with agency partners and cross-functionals in sales, production, procurement, R&D, and finance. The relaunch was expected to lead to $1.1MM in incremental sales versus previous year (+100%)</li>
                <li>Used consumer insights, both Nielsen & IRI, to analyze brand and SKU positioning, while tracking KPIs.</li>
                <li>Worked closely with co-manufacturers and bottle suppliers to evaluate production capabilities and leverage efficiencies where possible. </li>
                <li>Led cross functional teams through the full product life cycle of inception, R&D, commercialization, distribution, & finally consumer sales.</li>
            </ul>
            </ul>
            <br>
            <h3>Business Operations Analyst</h3>
            <h5>September 2015 - August 2018</h5>
            <ul class="resumedesc">
            <li class="TODO">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in. Odio facilisis mauris sit amet massa vitae. Consectetur adipiscing elit ut aliquam purus sit amet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue mauris augue neque gravida in fermentum et sollicitudin ac. </li>
            <br>
            <ul>
                <li>Developed the business case, viability analysis, and financial modeling for sales territories which contained $115MM worth of gross sales in fiscal ‘17 including retailers Walmart, Target, Publix, & Meijer and key distributors UNFI, Supervalu, & C&S</li>
                <li>Worked with national account managers, sales directors, and category analysts to create private label pricing strategies at key retailers</li>
                <li>Led new product development & commercialization for all private label items at over 50 retailers</li>
                <li>Developed pricing & promotional strategies for Mizkan’s Holland House brand at Target resulting in distribution expansion to 1300 new stores</li>
                <li>Created, curated, & distributed a weekly sales dashboard to support all business units</li>
            </ul>
            </ul>
        </div>
    </div>
</section>
<section class="dark-section">
    <div class="row">
        <div class="col-md-2">
            <h4>American Resource Management Group</h4>
        </div>
        <div class="col-md-10 resume">
            <h3>Marketing & Sales Analyst</h3>
            <h4>American Resource Management Group</h4>
            <h5>March 2013 - March 2015</h5>
            <ul class="resumedesc">
            <li class="TODO">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in. Odio facilisis mauris sit amet massa vitae. Consectetur adipiscing elit ut aliquam purus sit amet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue mauris augue neque gravida in fermentum et sollicitudin ac. </li>
            <br>
            <ul>
                <li>Worked in an entrepreneurial way to create new company processes including KPI tracking</li>
                <li>Assisted managing company team-building & efficiency projects</li>
                <li>Created and maintained the company pay-per-click campaign, and other online marketing channels</li>
                <li>Implemented new policies in a start-up atmosphere to create efficiencies and guide the development of company culture</li>
            </ul>
            </ul>
        </div>
    </div>
</section>
<section class="light-section">
    <h3>Additional Experience</h3>
    <div class="row">
        <div class="col-md-2">
            <h4></h4>
        </div>
        <div class="col-md-10 resume">
            <h5>Dekalb Chamber of Commerce - Intern</h5>
            <p>May 2012 - March 2013</p>
            <br>
            <h5>Mosaic Sales Solutions - Field Specialist</h5>
            <p>July 2012 - January 2013</p>
            <br>
            <h5>Preservation of the Egyptian Theatre, Inc - Intern</h5>
            <p>August 2011 - January 2012</p>
        </div>
    </div>
</section>
{% include 'footer.html' %}