{% include 'header.html' %}
<h1>Services</h1>
<section class="dark-section">
    <div class="row">
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
        <div class="col-md-7 serv-left-text">
            <h3>General Consulting Services</h3>
            <p class="TODO">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in. Odio facilisis mauris sit amet massa vitae. Consectetur adipiscing elit ut aliquam purus sit amet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Augue mauris augue neque gravida in fermentum et sollicitudin ac. Eget nunc scelerisque viverra mauris in aliquam sem. In fermentum et sollicitudin ac orci phasellus egestas. Arcu risus quis varius quam. Adipiscing diam donec adipiscing tristique risus. Odio ut enim blandit volutpat maecenas volutpat. Proin sagittis nisl rhoncus mattis rhoncus urna. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. Quis lectus nulla at volutpat.
            </p>
        </div>
    </div>
</section>
<section class="light-section">
    <div class="row">
        <div class="col-md-7 serv-right-text">
            <h3>Marketing Strategy</h3>
        <ul class="serv-list">
            <li>Every business needs a marketing strategy that is tailored to its specific goals and needs. As your marketing consultant, I'll work with you to create a marketing plan that aligns with your business objectives and targets the right audience. From identifying your unique selling proposition to defining your marketing mix, I'll help you achieve your marketing goals.</li>
            <li>My approach to marketing strategy involves a thorough understanding of your business, your target audience, and your competition. By analyzing data and conducting market research, I can help you identify key opportunities for growth and develop a comprehensive marketing plan that aligns with your goals.</li>
            <li>Whether you're looking to increase brand awareness, generate leads, or drive conversions, I can help you develop a tailored marketing strategy that achieves your objectives. From developing messaging and positioning to selecting the most effective marketing channels, I can help you navigate the complexities of modern marketing to achieve success.</li>
        </ul>
        </div>
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
    </div>
</section>
<section class="dark-section">
    <div class="row">
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
        <div class="col-md-7 serv-left-text">
            <h3>Brand Strategy</h3>
        <ul class="serv-list">
            <li>Your brand is what sets you apart from your competitors. I'll work with you to create a brand strategy that captures your unique personality and values and resonates with your audience. From creating a brand story to developing a visual identity, I'll help you build a brand that people will love and remember.</li>
            <li>Whether you're launching a new brand, refreshing one, or repositioning, I can help you develop a comprehensive brand strategy that includes everything from brand messaging and tone of voice to visual identity and brand architecture. By working closely with you and your team, I can help you develop a cohesive and compelling brand identity that sets you apart from the competition and builds brand equity.</li>
        </ul>
        </div>
    </div>
</section>
<section class="light-section">
    <div class="row">
        <div class="col-md-7 serv-right-text">
            <h3>Market Research</h3>
        <ul class="serv-list">
            <li>In order to make informed marketing decisions, you need data and insights. As your marketing consultant, I'll conduct research to gather the information you need to succeed. From competitive analysis to customer surveys, I'll provide you with the insights you need to understand your market and create a winning strategy.</li>
            <li>My approach to market research involves a deep understanding of your business, your industry, and your target audience. By conducting primary and secondary research, including surveys, focus groups, and data analysis, I can help you identify key insights that inform your marketing strategy.</li>
        </ul>
        </div>
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
    </div>
</section>
<section class="dark-section">
    <div class="row">
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
        <div class="col-md-7 serv-left-text">
            <h3>Professional Product Shots</h3>
        <ul class="serv-list">
            <li>The right product photography can help you showcase your products in the best possible light. As your marketing consultant, I'll help you create product shots that are both visually appealing and informative. From capturing your products in action to creating lifestyle photos, I'll help you create visual assets that tell your brand's story.</li>
            <li>Product photography is a critical component of any successful e-commerce or retail business. As a marketing consultant, I specialize in providing high-quality product photography services that help businesses like yours showcase their products in the best possible light.</li>
            <li>My product photography services include basic photography of your products, which includes front, back, sides, top and bottom of both inner and outer packs. By using professional-grade equipment and techniques, I can ensure that your products look their best and are ready to be displayed on your website, social media, or other marketing channels.</li>
        </ul>
        </div>
    </div>
</section>
<section class="light-section">
    <div class="row">
        <div class="col-md-7 serv-right-text">
            <h3>Copywriting</h3>
        <ul class="serv-list">
            <li>Copywriting is an essential element of marketing, and as a marketing consultant, I specialize in creating persuasive and engaging written content to help drive sales and increase brand awareness. Whether you need website content, product descriptions, advertising copy, or email campaigns, I have the skills and expertise to craft effective messaging strategies that resonate with your target audience.</li>
            <li>My approach to copywriting involves a thorough understanding of your business, your goals, and your audience. By identifying key messaging points and using language and tone that resonates with your intended audience, I can help you communicate the value of your product or service in a way that drives conversions and achieves your marketing objectives.</li>
        </ul>
        </div>
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
    </div>
</section>
<section class="dark-section">
    <div class="row">
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
        <div class="col-md-7 serv-left-text">
            <h3>Social Media Management</h3>
        <ul class="serv-list">
            <li>Social media is an important channel for reaching and engaging with your audience. As your social media consultant, I'll help you develop a social media strategy that drives engagement and conversions. From creating content to managing your social media accounts, I'll help you build a social media presence that builds your brand and drives business results.</li>
            <li>Whether you need help with strategy development, content creation, or community management, I have the skills and expertise to help you get the most out of your social media channels. I understand that every business is unique, which is why I take a customized approach to social media management, tailored to your specific needs and goals. </li>
        </ul>
        </div>
    </div>
</section>
<section class="light-section">
    <div class="row">
        <div class="col-md-7 serv-right-text">
            <h3>Website Design & Development</h3>
        <ul class="serv-list">
            <li>Website design and development is a critical component of any successful business. As a marketing consultant, I specialize in providing comprehensive website design and development services that help businesses like yours create a compelling online presence that drives traffic, engagement, and sales.</li>
            <li>My website design and development services include everything from design and layout to development and maintenance. By using the latest technologies and best practices, I can create a website that is not only visually appealing but also user-friendly, responsive, and optimized for search engines.List of brands in portfolio</li>
        </ul>
        </div>
        <div class="col-md-5">
            <img src="static/images/blank-profile.jpeg">
        </div>
    </div>
    <h5>For more information about pricing, click <a href="{{ url_for('pricing') }}">here</a></h5>
</section>
{% include 'footer.html' %}